{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron home-info">
    {% load staticfiles %}
    <h1><img src="{% static 'app/images/logo.png' %}" class="d-inline-block align-center" alt="Картинка репки" width="100" height="100"> REPKA</h1>

    <p class="lead">
        Веб-сервер "REPKA" служит помощником для радиолюбителей, подскажет адрес магазинов радиодеталей в
        указанном городе, поможет радиолюбителям обменяться идеями или проектами, может послужить базой данных для
        радиокомпонентов.
    </p>
</div>

<div class="row">
    <div class="col-md">
        <h2>Поиск магазинов</h2>
        <p>
            Перейти для поиска магазина в указанном населённом пункте.
        </p>
        <p><a class="btn" href="{% url 'search_shops' %}">Перейти &raquo;</a></p>
    </div>
    <div class="col-md">
        <h2>Лента</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md">
        <h2>Радиокомпоненты</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
